<!doctype html>
{% load static %}
<html lang=ko>
    <head>
        <title>Main Page</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}">
        </script>
        <script>
            {% block script %}
            {% endblock %}
        </script>
        <div class="page-header">
            <h1><a href="/">재고 관리</a></h1>
        </div>
        <div class="content container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>