<!doctype html>
{% load static %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

<html lang=ko>
    <head>
        <title>Main Page</title>
        <meta charset="utf-8">
<!--        <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
        <header id="page_header">
            <h2>재고검색</h2>
            <nav>
                <a href="/ware/">Main</a>
                <a href="/ware/search/">검색</a>
                <a href="/ware/update/">업데이트</a>
            </nav>
        </header>
    </head>
    <body>
        <!-- <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}">
        </script> -->
        <script>
            {% block script %}
            {% endblock %}
        </script>

        <section id="sidebar">
            <header>
            </header>
            <nav>
            </nav>
        </section>

        <section id="content">
            <header>
            </header>
            <article class="content">
            {% block content %}
            {% endblock %}
            </article>
            <footer>
            </footer>
        </section>

        <footer id="page_footer">
        </footer>
    </body>
</html>
