{% extends 'check/base.html' %}

{% load bootstrap3 %}

{% block content %}
<form action="/ware/search/" method="post"> 
    {% csrf_token %}
    {{ form.as_p }}
<!--    <input type="submit" value="Search"> -->
	{% bootstrap_button "Search" button_type="submit" %}
</form>
<br>
<p><strong> 검색결과: {{ results|length }} 개</strong></p>
<table id="search">
        {% if result != null %}
            <tr id="field_name">
                <td>품번</td>
                <td>품명</td>
                <td>세부내역</td>
                <td>저장빈</td>
                <td>수량</td>
                <td>업데이트</td>
            </tr>
		{% endif %}
        {% for result in results %}
            <tr>
                <td>{{ result.no }}</td>
                <td>{{ result.name }}</td>
                <td>{{ result.description }}</td>
                <td>{{ result.slot }}</td>
                <td>{{ result.amount }}</td>
                <td>{{ result.updateDate }}</td>
            </tr>
        {% endfor %}
{% endblock %}
</table>
