{% extends 'check/base.html' %}

{% load static %}

{% block content %}
<form action="/ware/search/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
	<input type="submit" value="Search" onclick="showResults(false)">
</form>
<br />
<div id="results">
    {% if results_num != 0 %}
    <p><strong> 검색결과: {{ results_num }} 개</strong></p>
    <table id="search">
        {% if results != null %}
            <tr id="field_name">
				<td>플랜트</td>
                <td>품번</td>
                <td>품명</td>
                <td>세부내역</td>
                <td>저장빈</td>
                <td>수량</td>
                <td>업데이트일자</td>
            </tr>
		{% endif %}
        {% for result in results %}
            <tr>
                <td>{{ result.Plnt }}</td>
                <td>{{ result.no }}</td>
                <td>{{ result.name }}</td>
                <td>{{ result.description }}</td>
                <td>{{ result.slot }}</td>
                <td>{{ result.amount }}</td>
                <td>{{ result.updateDate }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}

