{% extends 'check/base.html' %}

{% load bootstrap3 %}

{% block content %}
<form action="/ware/update/" method="post" enctype="multipart/form-data"> 
    {% csrf_token %}
    {{ form.as_p }}
<!--    <input type="submit" value="Update">
-->
	{% bootstrap_button "upload" button_type="submit" %}
</form>

<div id="update">
        {% for result in results %}
            <ul>{{ result }}</ul>
        {% endfor %}
		{% for error in errors %}
            <ul>{{ errors }}</ul>
        {% endfor %}
{
{% endblock %}
</div>
