table {
    border: 1px solid grey;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #ccc;
}
tr:nth-child(odd) {
    background-color: #fff;
}
th {
    color: white;
    background-color: black;
}

tr#field_name {
    text-align: center;
}

td {
    padding: 5px;
}
